@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
}

h4{
  position: relative;
  width: 139px;
  height: 28px;
  padding: 30px;
  color: #1C1C1C;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  size: 24px;
  line-height: 28.13px;
}

.position{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App{
  width: 1024px;
  background: #F0F0F0;
  height: 100vh;
}
@media only screen and (max-width: 375px){
  .App{
    width: 375px;
  }
  .position{
    flex-direction: column;
    padding: 20px;
  }
  input[type="search"]{
    width: 335px;
    height: 40px;
  }
  h4{
    width: 335px;
  }
}
